
*{
  padding: 0;
  margin:0px;
}

html body {
  padding: 0;
  height: 100%;
}

/* Header section */

a{
  text-decoration: none;
  font-family: "montserrat";
  font-weight: 500;
  color: #3c505e;
  text-transform: uppercase;
  position: relative;
}

a::after{
  content:"";
  display:block;
  position:absolute;
  background-color:#3c505e;
  width:100%;
  height:2px;
  bottom:-3px;
  left:0;
  border-radius:.1em;
  transform:scaleX(0);
  transition:transform .5s ease;
  transform-origin:right;
}

a:hover::after{
  transform:scaleX(1);
  transform-origin:left;
}

li{
  list-style-type: none;
  padding-top: 20px;
  display: inline-block;
}

header{
  background-color: white;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  z-index: 1;

}

header nav{
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul li {
  float: left;
  margin-right: 25px;
}

header nav ul li a{
  font-size: 16px;
}

#burgerButton {
display: none;
z-index: 1000;
}

/* Overordnet */

section{
min-height: 100%;
padding-top: 100px;
}


h1{
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: 400;
  color: #3c505e;
  font-size: 57px;
  margin-top: 40px;
}

.title{
  font-family: "montserrat";
  font-weight: 400;
  color: #3c505e;
  text-transform: capitalize;
  font-size: 23px;
  line-height: 170px;
  border-top: #cfb1af solid 2px;
  padding-top: 7px;
}
/* Hver section ligger i en container */

.container{
  max-width: 1000px;
  margin: auto;
}

.textcontainer{
  margin-top: 75px;
  background-color: #D8E0E5;
  padding: 30px;
  border-radius: 20px;
}

.textcontainer p:first-child{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.textcontainer p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

/* Color section */

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-between;
    padding-top: 0px;
    max-width: 55%;
}

.hex{
  font-family: "montserrat";
  font-weight: 500;
  color: #272727;
  text-transform: uppercase;
  font-size: 15px;
}

.rgb{
  font-family: "montserrat";
  font-weight: 500;
  color: #272727;
  font-size: 15px;
}

.colortype{
  font-family: "montserrat";
  font-weight: 200;
  color: #272727;
  font-size: 15px;
}

/* boxcontainer er de forskellige farvede kasser */

.boxcontainer div span, .boxcontainer div p{
    line-height: 27px;
}

.kasse{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.boxcontainer:first-child .kasse {
    background-color: #3c505e;
    border: 1px solid #3c505e;
}

.boxcontainer:nth-child(2) .kasse {
    background-color: #d8e0e5;
    border: 1px solid #d8e0e5;
}

.boxcontainer:nth-child(3) .kasse {
    background-color: #cfb1af;
    border: 1px solid #cfb1af;
}

.boxcontainer:last-child .kasse {
    background-color: #fff;
    border: 1px solid #ededed;
}


/* Logo */

/* Baggrund på negativtlogo */

.logocontainer{
  background-color: #3c505e;
  padding: 1px;
  margin-top: 25px;
}

/* Figure section */

.figurgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    width: 100%;
    grid-gap: 15px;
}

/* Mørkeblå figur */

.figurgrid div:first-child{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 90%;
}

.figurgrid div img{
    width: 100%;
}

/* Lyseblå figur */

.figurgrid div:nth-child(2){
    width: 60%;
}

/* Lyserød figur */

.figurgrid div:last-child{
    width: 50%;
}

/* typography section */

.wrappertypography{
  color: #3c505e;
}

.typographycontainer{
  display: flex;
  width: 100%;
}

/* h1  */
.typographycontainer h1{
  font-size: 40px;
  font-weight: 400;
  font-family: "Trade Gothic LT Std",sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}


.typographycontainer h1:first-child{
  width: 60%;
}

.typographycontainer h1:nth-child(2){
  width: 20%;
}

.typographycontainer h1:last-child{
  width: 20%;
  text-align: right;
}

/* h2 */

.typographycontainer h2{
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "montserrat",sans-serif;
  margin-bottom: 20px;
}

.typographycontainer h2:first-child{
  width: 60%;
}

.typographycontainer h2:nth-child(2){
  width: 20%;
}

.typographycontainer h2:last-child{
  width: 20%;
  text-align: right;
}

/* h3 */

.typographycontainer h3{
  font-size: 18px;
  font-weight: 700;
  font-family: "montserrat",sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}

.typographycontainer h3:first-child{
  width: 60%;
}

.typographycontainer h3:nth-child(2){
  width: 20%;
}

.typographycontainer h3:last-child{
  width: 20%;
  text-align: right;
}

/* h4 */

.typographycontainer h4:first-child{
  width: 60%;
}

.typographycontainer h4:nth-child(2){
  width: 20%;
}

.typographycontainer h4:last-child{
  width: 20%;
  text-align: right;
}

.typographycontainer h4{
  font-size: 16px;
  font-weight: 700;
  font-family: "montserrat",sans-serif;
  margin-bottom: 20px;
}

/* h5 */

.typographycontainer h5:first-child{
  width: 60%;
}

.typographycontainer h5:nth-child(2){
  width: 20%;
}

.typographycontainer h5:last-child{
  width: 20%;
  text-align: right;
}

.typographycontainer h5{
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  font-family: "montserrat",sans-serif;
  margin-bottom: 20px;
}

/* fonttype */

.wrappertypography span{
  color: #cfb1af;
  font-size: 14px;
  font-weight: 700;
  font-family: "montserrat",sans-serif;

}

/* Brødtekst */

.paragraphcontainer p:first-child{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 70px;
}

.paragraphcontainer p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

p{
  color: #3c505e;
  font-family: "montserrat", sans-serif;
}

/* button section */

.bntwrapper{
  display: flex;
  align-items: center;
}

.button{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

button{
  color:  #FFFFFF;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: #3c505e;
  border-color: #3c505e;
  border-style: solid;
  border-width: thin;
  border-radius: 28px;
  radius: 50%;
  height: 37px;
  padding: 5px 40px 5px 40px;
  margin-right: 40px;
}

.storknap{
  padding: 22px 70px 22px 70px;
  display: flex;
  align-items: center;
  border: 2px #3c505e solid;
}

.pink{
  padding: 22px 70px 22px 70px;
  display: flex;
  align-items: center;
  background-color: #cfb1af;
  border-color: #cfb1af;
}


/* Swipe button */

/* Selve den lange mørkeblå */

.swipe input[type="range"] {
    width: 280px;
    height: 40px;
    background: #3c505e;
    -webkit-appearance: none;
    border-radius: 17px;
    padding: 2px;
    transition: opacity 0.5s;
    position: relative;
    margin-left: 0px;
    border-color: #272727;
    margin-top: 0px;
    margin-bottom: 40px;

}

/* Selve knappen man swiper */

.swipe input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(top, #d8e0e5 0%,#fff 50%,#fff 51%,#d8e0e5 100%);
    width: 40px;
    position: relative;
    height: 40px;
}

.swipe input[type="range"]:before {
    content: "Aktiver lokation";
    color: #fff;
    position: absolute;
    left: 75px;
    top: 12px;
    font-size: 16px;
}

.swipe input[type="range"]::-webkit-slider-thumb:before {
    color: #ededed;
    position: absolute;
    left: 5px;
    top: -10px;
    font-size: 56px;
    font-weight: bold;
    content: "→";
}

/* forms section */

.input{
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 27%;
  margin-top: -100px;
  margin-left: 0px;
}

input{
  width: 100%;
  background-color: #fff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-bottom: 25px;
  margin-left: 0px;
  border-radius: 14px;
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: -2px 5px 8px -4px #3c505e;
}

input::placeholder{
  color: #3c505e;
}

/* Footer */


footer{
  height: 100px;
}

@media screen and (max-width:1250px) {

  .container{
    max-width: 800px;
  }
  .wrapper{
    max-width: 65%;
  }

}

@media screen and (max-width:992px) {

  .container{
    max-width: 700px;
  }
  .wrapper{
    max-width: 80%;
  }

}




@media only screen and (max-width: 600px) {
/* Gennerelt  */
 .container {
  max-width: 90%;
  padding: 0;
}
#color {
  margin-top: 100px;
}

.title{
  margin-bottom: -10px;
}

h1 {
  font-size: 26px;
}
header {
  height: auto;
}
header nav {
  margin: 0;
}
.wrapper {
  max-width: 100%;
  flex-wrap: wrap;
}

.textcontainer{
  margin-top: 50px;
  background-color: #D8E0E5;
  padding: 20px;
  border-radius: 20px;
}

/* Navigation */
#burgerButton {
  position: absolute;
  top: 28px;
  right: 20px;
  display: block;
}
.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  min-height: 75px;
}
#burgerBar {
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  display: none;
}


.nav-wrapper ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  }
  .nav-wrapper ul li:last-child {
    margin-bottom: 25px;
    }

    .boxcontainer {
      width: 50%;
      margin-bottom: 25px;
    }

    .boxcontainer .kasse{
      margin: auto;
    }

    .boxcontainer div{
      text-align: center;
    }

  /* logo  */
  #logo img {
    width: 100%;
  }
  /* Figur  */
  .figurgrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    width: 100%;
    grid-gap: 1px;
  }
  .figurgrid img {
    width: 100%;;
  }

  /* Lyseblå figur */

  .figurgrid div:nth-child(2){
      width: 90%;
  }

  /* Lyserød figur */

  .figurgrid div:last-child{
      width: 80%;
  }

  /* Typografi */
  .typographycontainer h1 {
    font-size: 24px;
  }
  .typographycontainer h1:first-child {
    width: 52%;
  }
  .typographycontainer h2 {
    font-size: 20px;
  }
  .typographycontainer h2:first-child {
    width: 54%;
  }
  .typographycontainer h3 {
    font-size: 16px;
  }
  .typographycontainer h3:first-child {
    width: 60%;
  }
  /* buttons */

  .bntwrapper {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .bntwrapper button {
    margin: 15px 0;
    width: 75%;
  }

  .storknap {
    justify-content: center;
  }

  .pink{
    justify-content: center;
  }

  .bntwrapper button:last-child{

    width: 50%;
  }

  /* Swipe */

  .swipe{
  justify-content: center;
  display: flex;
  }


  /* Forms */

  #forms .input {
    width: 90%;
  }
}
